h1 {
    color: purple;
    background: blanchedalmond;
    font-style: oblique;
    font-size: 75px;
}
p {
    color:saddlebrown;
    font-size: 45px;
    
}
ul {
    color:tomato;
    font-style: italic;
    font-size: 25px;
}

ol {
    color: tomato;
    font-style: italic;
    font-size: 25px;
}
a {
    color: tomato;
    font-style: italic;
    font-size: 25px;
    text-decoration: none;
}
q {
    color: purple;
    font-style: oblique;

}
